	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>TGIF SENATE</title>
		<link href="styletgif.css" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	</head>

	<body>
		<div class="container-fluid" >
					<div class="row align-items-center" id="header">
						<a class="col-10" href="https://www.whitehouse.gov/the_press_office/TransparencyandOpenGovernment">
							<img src="images/tgif_logo.png" id="logo" alt="TGIF logo" />
						</a>
						<a id="info-box" class="col-2" href="mailto:info@tgif.net?subject=Info" target="_blank"><span>&#9993;info@tgif.net</span></a>
					</div>
					<div class="row">
					<nav class="col navbar navbar-expand navbar-light border rounded" id="navbar">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class=" row container collapse navbar-collapse" id="navbarNavDropdown">
							<ul class=" navbar-nav">
								<li class="col-3 nav-item active">
									<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
								</li>
								<li class="col-3 nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Congress 113 </a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item" href="house-data.html">House</a>
										<a class="dropdown-item" href="senate-data.html">Senate</a>
									</div>
								</li>
								<li class="col-3 nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Attendance </a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item" href="house-attendance.html">House</a>
										<a class="dropdown-item" href="senate-attendance.html">Senate</a>
									</div>
								</li>
								<li class="col-3 nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Party Loyalty </a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item" href="house_party-loyalty.html">House</a>
										<a class="dropdown-item" href="senate_party-loyalty.html">Senate</a>
									</div>
								</li>
							</ul>
						</div>
					</nav>
					</div>
				
			<div class="container" id="app">
				
					<div class="row">
						<div class="col">
							<h2 class="page-header">Senators</h2>
							<p class="text-justify">First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-9">
							<form name="filter" id="FilterForm" action="">
								<div class="form-group">
									<label id="party-senate-filter" class="btn btn-secondary btn-sm" name="party">Filter by Party:</label>
									<input v-on:change="filterParty" value="R" name="party" type="checkbox" id="republican" v-model="checkedParty">
									<label for="republican"> Republican</label>
									<input v-on:change="filterParty" value="D" name="party" type="checkbox" id="democrat" v-model="checkedParty">
									<label for="democrat"> Democrat</label>
									<input v-on:change="filterParty" value="I" name="party" type="checkbox" id="independent" v-model="checkedParty">
									<label for="independent"> Indepedent </label>
								</div>
							</form>
						</div>
						<div class="col-3">
							<label for="states-dropdown" class="btn btn-secondary btn-sm" name="states">Filter by State</label>
							<select v-on:change="filterParty" id="states-dropdown" name="states" v-model="pickedState">
								<option v-for="filteredState in filteredStates" name="states"> {{filteredState}} </option> 
							</select>
						</div>
					</div>
				
					<div class="row">
						<table class="table table-hover" >
							<thead>
								<tr>
									<th>Name</th>
									<th class="filter-party">Party</th>
									<th>State</th>
									<th>Years in Office</th>
									<th>% Votes w/ Party</th>
								</tr>
							</thead>
							
								<tbody>
									<tr v-for="senator in filteredNames">
										<td><a v-bind:href="senator.url"> {{senator.last_name}}, {{senator.first_name}} {{senator.middle_name ||""}}</a></td> 
										<td>{{senator.party}}</td>
										<td>{{senator.state}}</td>
										<td>{{senator.seniority}}</td>
										<td>{{senator.votes_with_party_pct}}</td>
									</tr>
								</tbody>	
														
						</table>
					</div>
				
			</div>
			<div>
				<footer class="footer copyright text-center py-2 border rounded">
					<p><small> &#9400;2016 TGIF || All Rights Reserved </small></p>
				</footer>
			</div>
		</div>	
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="js/table-senate.js"></script>
	</body>

	</html>
